body {
  background-image: url("/images/berries-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container,
.todo-dates {
  width: 300px;
  text-align: center;
  border: 5px solid black;
  background-color: white;
}

header {
  color: #4a4a4a;
  padding: 10px 20px;
}

.logo img {
  max-width: 300px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  color: #4a4a4a;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  resize: none;
}

.motivational-quotes .quote {
  border-left: 4px solid #87ceeb;
  padding-left: 10px;
}

.days {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove default padding */
}

.days li {
  margin-bottom: 5px; /* Adjust spacing between list items */
}

a {
  font-weight: bold;
  color: black; /* Set link color to black */
  text-decoration: underline; /* Remove underline */
}
a:visited {
  color: black; /* Set visited link color to black */
}

label {
  align-items: start;
}